@charset "utf-8";

nav{
background-color: white;
}
#logo{
    width: 150px;
    margin: auto;
    position: absolute;
    left: 35%;
    top: 3px; 
     
}
header{
    width: 100vw;
    height: 100vh;
    
}

header > h1{
    margin-top: 10px;
    padding: 10px;
    font-size: 3.2em;
    position: absolute;
    left: 2%;
    top: 12%;  
}