@charset "utf-8";


*{
    margin: 0px
}

nav{
    width: 100vw;
    height: 70px;
    background-color: white;
}

header{
    width: 100vw;
    height: 100vh;
}

header > p{
    color: black;
}

header > .botao{
    width: 145px;
    height: 50px;
    background-color: white;
    border: 1px solid #9DB055 ; 
    border-radius: 25px;  
    position: absolute;
    left: 36%;
    top: 71%;   
    
}

.botao:hover{
    background-color: #9DB055;
    color: white;  
}