@charset "utf-8";


*{
    margin: 0px
}

nav{
    width: 100vw;
    height: 70px;
    background-color: white;
    border-bottom:  1px solid black;
    

}

#logo{
    max-width: 150px;
    margin: auto;
    position: absolute;
    left: 2%;
    top: 15px;  
}

header{
    text-align: center;
    width: 100vw;
    height: 100vh;
    background-image: url("../imagens/fundo.png"); 
    background-repeat: no-repeat; 
    background-size: contain;
}

header > .botao{
    width: 144px;
    height: 50px;
    background-color: white;
    border: 1px solid #9DB055 ; 
    border-radius: 25px;  
    position: relative;
    top: 60%;
    
}

.botao:hover{
    background-color: #9DB055;
    color: white;  
}

.pagina1{
    width: 100vw;
    height: 100vh;
    background-color: #0367A6;
}

.pagina1 > h1{
    color: black;
}

