@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');


*{
    margin: 0px
}

nav{
    width: 100vw;
    height: 70px;
    background-color: white;
}


header > h1{
    font-weight: 800; 
    font-family: "Outfit"; 
    color: black;
}

header > p{
    color: black;
}

header > .botao{
    width: 145px;
    height: 50px;
    background-color: white;
    border: 1px solid #9DB055 ; 
    border-radius: 25px;  
    position: absolute;
    left: 36%;
    top: 71%;   
    
}

.botao:hover{
    background-color: #9DB055;
    color: white;  
}